@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700;900&display=swap');

:root {
    --main-color: #ba0c2f;
    --shadow: 61, 30, 40;
    --black: #2B2B2B;
    --D-gray: #BBB;
    --L-gray: #dadce0;
    --white: #fff;
    --h1: 'S-CoreDream-7ExtraBold';
    --h2: 'S-CoreDream-6Bold';
    --h3: 'S-CoreDream-5Medium';
    --mid: 'S-CoreDream-3Light';
}

/* reset */

* {
    box-sizing: border-box;
    color: var(--black);
}

body {
    font-family: var(--mid);
    font-weight: 300;
    line-height: inherit;
}

a {
    text-decoration: none;
}

h1 {
    font-family: var(--h1);
}

h2 {
    font-family: var(--h2);
}

h3 {
    font-family: var(--h3);
}

/* 큰 데스크탑 */

.container {}

header {
    height: 74px;
    border-bottom: 1px solid var(--L-gray);
    display: flex;
}

.inner {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

header .inner {
    justify-content: space-between;
}

.main-menu {
    display: flex;
    flex-direction: row;
}

.nav-item {
    position: relative;
    font-family: var(--h2);
    padding: 0 20px;
    z-index: 2;
}

.nav-item a {
    position: relative;
    overflow: hidden;
    transition: color .25s ease;
    padding-bottom: 27px;
    font-family: var(--h3);
    font-size: 0.9rem;
}

.nav-item a::before,
.nav-item a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    transition: width 0.1s ease-out;
    position: absolute;
    bottom: 0;
}

.nav-item a::before {
    left: 50%;
    transform: translateX(-50%);
}

.nav-item a::after {
    right: 50%;
    transform: translateX(50%);
}

.nav-item a:hover::before,
.nav-item a:hover::after,
.nav-item.active a::after {
    width: 100%;
    transition-duration: 0.2s;
}

.nav-item:hover>a,
.nav-item.active>a {
    color: var(--main-color);
}

.nav-item:hover>.sub-menu,
.nav-item .sub-menu:hover {
    visibility: visible;
    display: flex;
}

.sub-menu {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 48px;
    flex-direction: column;
    align-items: center;
    display: none;
    animation: submenu 0.5s ease;
}

@-webkit-keyframes submenu {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.sub-menu .nav-item {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sub-menu .nav-item a {
    padding-bottom: 10px;
}

main {
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: default;
    width: 1140px;
    height: 853px;
    margin: 0 auto;
}

.swiper-pagination-bullet-active {
    background-color: var(--main-color);
}

.text-wrap {
    display: flex;
    flex-direction: column;
}

.text-wrap h1 {
    font-size: 4.2rem;
    line-height: 4.8rem;
    white-space: pre-line;
}

.text-wrap h2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    white-space: pre-line;
    padding: 25px 0;
}

.swiper-slide-active .text-wrap h1,
.swiper-slide-active .text-wrap h2,
.swiper-slide-active .text-wrap .more-btn {
    animation: slide-text 0.5s ease backwards;
    animation-delay: 0.5s;
}

@-webkit-keyframes slide-text {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.more-btn {
    text-align: center;
    width: fit-content;
    padding: 15px 30px;
    color: var(--white);
    background-color: var(--main-color);
    border-radius: 30px;
    transition: transform 0.3s ease;
}

.more-btn:hover {
    transform: scale(1.1);
}

.img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrap .img-bg {
    position: relative;
    left: 1px;
    width: 500px;
    height: 500px;
    background-color: var(--main-color);
    border-radius: 50%;
    z-index: -1;
}

.swiper-slide-active .img-wrap .img-bg {
    animation: slide-img-bg 0.5s ease;
    animation-delay: 0.3s;
}

@-webkit-keyframes slide-img-bg {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.img-wrap img {
    position: absolute;
    width: auto;
    min-height: 400px;
    max-height: 500px;
    filter: drop-shadow(20px 20px 15px rgba(var(--shadow), 0.3));
}

.swiper-slide-active .img-wrap img {
    animation: slide-img 0.5s ease-in-out backwards;
    animation-delay: 0.8s;
}

@-webkit-keyframes slide-img {
    0% {
        transform: scale(0) rotate(0deg);
    }

    50% {
        transform: scale(1) rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

footer {
    width: 100%;
    background-color: var(--main-color);
}

footer div, footer a {
    color: var(--white);
}

/* 데스크탑 */
@media screen and (max-width:1199.98px) {
    .inner, .content {
        width: 940px;
    }
}

/* 타블렛 */
@media screen and (max-width:991.98px) {}

/* 스마트폰 가로 */
@media screen and (max-width:767.98px) {}

/* 스마트폰 세로 */
@media screen and (max-width:575.98px) {}