@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-color: #ba0c2f;
    --shadow: 61, 30, 40;
    --black: #2B2B2B;
    --D-gray: #969494;
    --M-gray: #cacbce;
    --L-gray: #f3f3f5;
    --white: #fff;
    --h1: 'S-CoreDream-7ExtraBold';
    --h2: 'S-CoreDream-6Bold';
    --h3: 'S-CoreDream-5Medium';
    --reg: 'S-CoreDream-4Regular';
    --light: 'S-CoreDream-3Light';
}

/* reset */

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: var(--reg);
    font-weight: 300;
    line-height: inherit;
    color: var(--black);
}

body.active {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: var(--black);
}

h1 {
    font-family: var(--h1);
    font-size: 4.2rem;
    transition: font-size 0.3 ease;
}

h2 {
    font-family: var(--h2);
    font-size: 1.3rem;
    transition: font-size 0.3 ease;
}

h3 {
    font-family: var(--h3);
}

img {
    width: 100%;
    vertical-align: middle;
}

.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
}

.more {
    font-family: var(--h1);
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    border-radius: 5px;
    align-self: flex-end;
    transition: color 0.2s linear;
}

.more:hover {
    color: var(--main-color);
}

.fa-angle-right {
    transition: transform 0.2s ease-in-out;
}

.more:hover .fa-angle-right {
    transform: translateX(4px);
}

article {
    padding-top: 74px;
}

/* 큰 데스크탑 */

header {
    width: 100%;
    height: 74px;
    display: flex;
    position: fixed;
    z-index: 3;
    transition: all 0.2s linear;
}

.inner {
    width: 1140px;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    align-items: center;
}

header .inner {
    padding: 0;
    justify-content: space-between;
}

.logo-area {
    opacity: 1;
    z-index: 1;
    transition: all 0.15s ease;
}

.main-menu {
    display: flex;
    flex-direction: row;
}

.nav-item {
    position: relative;
    font-family: var(--h2);
    padding: 0 20px;
    z-index: 2;
}

.nav-item a {
    position: relative;
    overflow: hidden;
    transition: color .25s ease;
    padding-bottom: 27px;
    font-family: var(--h3);
    font-size: 0.9rem;
}

.nav-item a::before,
.nav-item a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    transition: width 0.1s ease-out;
    position: absolute;
    bottom: 0;
}

.nav-item a::before {
    left: 50%;
    transform: translateX(-50%);
}

.nav-item a::after {
    right: 50%;
    transform: translateX(50%);
}

.nav-item a:hover::before,
.nav-item a:hover::after,
.nav-item.active a::after {
    width: 100%;
    transition-duration: 0.2s;
}

.nav-item:hover>a,
.nav-item.active>a {
    color: var(--main-color);
}

header.active .sub-menu,
header.active .nav-item .sub-menu:hover {
    visibility: visible;
    display: flex;
}

header.active .logo-area {
    transform: translate(60px, 96px);
}

.sub-menu {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 48px;
    flex-direction: column;
    align-items: center;
    display: none;
    animation: opacity_ 0.5s ease;
}

header::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 74px;
    background-color: var(--white);
    border-bottom: 1px solid var(--L-gray);
    box-shadow: 0px 1px 10px rgba(var(--shadow), 0.1);
    transition: height 0.3s ease;
}

header.active::after {
    height: 265px;
}

.sub-menu .nav-item {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sub-menu .nav-item a {
    padding-bottom: 10px;
}

main {
    position: relative;
    margin: 0 auto;
}

.top {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    right: 15px;
    bottom: 15px;
    color: var(--black);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    box-shadow: 2px 5px 10px rgba(var(--shadow), 0.2);
    transition: all 0.3s ease;
}

.top.active {
    color: var(--white);
    background-color: transparent;
    box-shadow: none;
}

/* ----------- 스크롤 애니메이션 ----------- */

.animate {
    transition: transform 2s ease, opacity .5s linear;
    opacity: 0;
}

.animate.active {
    opacity: 1;
}

.animate.left {
    transform: translate(-10%, -10%);
}

.animate.left.active {
    transform: translate(0);
}

.animate.scale {
    transition: transform 1s ease;
    transform: scale(0);
}

.animate.scale.active {
    transform: scale(1);
}

/* ----------- 슬라이더 ----------- */

#slider {
    height: 100vh;
}

#slider .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: default;
    width: 1140px;
    margin: 0 auto;
}

.swiper {
    height: 100%;
}

.swiper-backface-hidden .swiper-slide {
    display: flex;
}

.swiper-pagination-bullet-active {
    background-color: var(--main-color);
}

.new-prod {
    font-family: var(--h3);
    color: var(--main-color);
    font-size: 2rem;
    padding-left: 5px;
    width: fit-content;
}

.swiper-slide-active .new-prod {
    animation: slide-new 0.7s ease backwards;
    animation-delay: 0.7s;
}

.text-wrap {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.text-wrap h1 {
    line-height: 4.8rem;
    white-space: pre-line;
    padding-right: 40px;
}

.text-wrap h2 {
    font-family: var(--h3);
    font-weight: 500;
    white-space: pre-line;
    padding: 25px 0;
    padding-right: 50px;
}

.swiper-slide-active .text-wrap h1,
.swiper-slide-active .text-wrap h2,
.swiper-slide-active .text-wrap .more-btn {
    animation: opacity_ 1s ease backwards;
    animation-delay: 0.7s;
}

.more-btn {
    display: block;
    position: relative;
    font-family: var(--h3);
    text-align: center;
    width: fit-content;
    padding: 12px 28px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 30px;
    z-index: 1;
    transition: color 0.2s ease-out;
}

.more-btn::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 101%;
    height: 100%;
    transform: scale(0);
    border-radius: 30px;
    background-color: var(--main-color);
    z-index: -1;
    transition: transform 0.2s ease-out;
}

.more-btn:hover {
    color: var(--white);
}

.more-btn:hover::after {
    transform: scale(1.01);
}

.img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.img-wrap::after {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: var(--main-color);
    border-radius: 50%;
    z-index: -1;
}

.swiper-slide-active .img-wrap::after {
    animation: scale_ 0.5s ease backwards;
    animation-delay: 0.5s;
}

.img-wrap img {
    position: absolute;
    width: auto;
    min-height: 400px;
    max-height: 500px;
    filter: drop-shadow(20px 20px 15px rgba(var(--shadow), 0.3));
}

.swiper-slide-active .img-wrap img {
    animation: slide-img 0.5s ease-in-out backwards;
    animation-delay: 0.8s;
}

.img-wrap img, .img-wrap::after {
    transition: width 0.3s ease, height 0.3s ease;
}

.text-wrap h1, .text-wrap h2, .inner {
    transition: all 0.3s ease-out;
}

@-webkit-keyframes opacity_ {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes scale_ {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@-webkit-keyframes slide-img {
    0% {
        transform: scale(0) rotate(0deg);
    }

    50% {
        transform: scale(1) rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes slide-new {
    0% {
        transform: scale(0) rotate(0deg);
    }

    50% {
        transform: scale(1) rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* ----------- 시리얼 ----------- */

#cereals .inner {
    flex-direction: column;
}

#cereals h1 {
    font-size: 2.5rem;
    margin-bottom: 100px;
}

#cereals ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#cereals ul li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 30px;
    margin-left: 40px;
    box-shadow: 10px 10px 20px rgba(var(--shadow), 0.15);
    transition: all 0.3s ease;
}

#cereals ul li:nth-child(3n-2) {
    margin-left: 0;
}

#cereals ul li:nth-child(-n+3) {
    margin-bottom: 40px;
}

#cereals .caption {
    transition: all 0.3s ease;
    cursor: default;
    background-color: var(--white);
}

#cereals .caption {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    width: 100%;
    height: 50%;
    left: 0;
    bottom: 0;
    padding-left: 40px;
    border-top-left-radius: 30px;
    box-shadow: 0px -10px 15px rgba(var(--shadow), 0.1);
    transform: translateY(67px);
}

#cereals .caption h2 {
    font-size: 1.3rem;
}

#cereals .caption span {
    color: var(--main-color);
}

#cereals ul li:hover .caption {
    transform: translateY(0);
}

#cereals ul li .more-btn {
    margin-top: 30px;
    padding: 3px 15px 5px;
    transition: margin-top 0.2s ease;
}

#cereals ul li:hover .more-btn {
    margin-top: 15px;
}

#cereals ul li img {
    width: auto;
    max-width: 800px;
    transition: all 0.3s ease;
}

/* ----------- 베러데이즈 ----------- */

#betterdays {
    position: relative;
    background-image: url(../images/betterdays_2.jpg);
    background-position: center 10%;
}

#betterdays::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
}

#betterdays .inner {
    flex-direction: column;
}

#betterdays .title {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    z-index: 1;
}

#betterdays .title h1 {
    text-align: center;
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 40px;
    transition: all 0.3s ease;
}

#betterdays .title p {
    font-family: var(--h3);
    font-size: 1.2rem;
    margin-bottom: 30px;
}

#betterdays ul {
    display: flex;
    flex-direction: row;
    z-index: 1;
}

#betterdays ul li {
    position: relative;
    cursor: default;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 0px 10px 15px rgba(var(--shadow), 0.2);
    transition: all 0.3s ease;
}

#betterdays ul li+li {
    margin-left: 30px;
}

#betterdays ul li:hover {
    transform: translate(3px, 3px);
    box-shadow: 0px 5px 5px rgba(var(--shadow), 0.2);
}

#betterdays ul li div {
    display: flex;
}

#betterdays ul li div:first-child {
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 250px;
    height: 250px;
}

#betterdays ul li div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    padding: 30px;
}

#betterdays ul li img {
    width: 120%;
    filter: saturate(120%);
}

#betterdays ul li h2 {
    color: var(--main-color);
}

#betterdays ul li h2::after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    margin-top: 16px;
    border-top: 1px solid var(--M-gray);
}

#betterdays ul li p {
    font-family: var(--reg);
    color: var(--D-gray);
    font-size: 0.9rem;
}

#betterdays ul li .more {
    font-size: 0.8rem;
    padding: 8px 16px;
    color: var(--M-gray);
    border: 1px solid var(--M-gray);
    border-radius: 5px;
    align-self: flex-end;
    transition: all 0.3s ease;
    letter-spacing: normal;
    font-family: var(--reg);
}

#betterdays ul li .more:hover {
    color: var(--D-gray);
    border: 1px solid var(--D-gray);
}

/* ----------- 레시피 ----------- */

#recipes .inner>div, #recipes ul, #recipes ul li>a>div {
    display: flex;
}

#recipes .inner {
    padding-bottom: 120px;
}

#recipes .inner>div {
    flex-direction: column;
    align-items: center;
}

#recipes .title {
    width: 300px;
    margin-bottom: 80px;
}

#recipes ul {
    margin-bottom: 40px;
}

#recipes ul li {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    cursor: default;
    box-shadow: 0px 10px 15px rgba(var(--shadow), 0.1);
    transition: all 0.3s ease;
}

#recipes ul li:hover {
    transform: translate(3px, 3px);
    box-shadow: 0px 5px 5px rgba(var(--shadow), 0.1);
}

#recipes ul li+li {
    margin-left: 40px;
}

#recipes ul li img {
    width: 100%;
}

#recipes ul li>a>div {
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px;
}

#recipes h2 {
    font-size: 1.1rem;
    padding-right: 10px;
}

#recipes .more-btn {
    padding: 4px 15px 5px;
}

#recipes .more {
    align-self: flex-end;
    transition: color 0.2s linear;
}

#recipes ul li:hover .fa-angle-right {
    color: var(--main-color);
}

footer {
    width: 100%;
    background-color: var(--main-color);
}

footer .inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 80px 0;
}

footer div {
    display: flex;
}

footer div, footer a {
    color: var(--white);
}

footer .copyright, footer .company, footer .sns {
    flex-direction: column;
    font-family: var(--light);
    font-size: 0.9rem;
    line-height: 1.5rem;
}

footer div h1 {
    font-size: 1rem;
    margin-bottom: 10px;
}

.copyright {
    width: 25%;
}

.company p {
    white-space: pre-line;
}

.company p span {
    font-family: var(--h3);
}

.sns div {
    display: flex;
}

.sns div a {
    width: 35px;
    height: 35px;
}

.sns a+a {
    margin-left: 5px;
}


/* 데스크탑 */
@media screen and (max-width:1199.98px) {
    .inner, #slider .content {
        width: 940px;
    }

    h1 {
        font-size: 3.8rem;
    }

    .img-wrap img {
        max-width: 360px;
        min-height: auto;
        max-height: 430px;
    }

    .img-wrap::after {
        width: 400px;
        height: 400px;
    }

    #cereals ul li {
        width: 250px;
        height: 250px;
    }

    #cereals ul li img {
        max-width: 650px;
    }

    #cereals .caption {
        transform: translateY(58px);
    }

    #cereals .caption h2 {
        font-size: 1.15rem;
    }

    #cereals ul li .more-btn {
        margin-top: 20px;
    }

    #betterdays .content {
        height: 560px;
    }

}

/* 타블렛 */
@media screen and (max-width:991.98px) {

    main::before {
        display: none;
        position: fixed;
        opacity: 0;
        content: "";
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 2;
        transition: all 0.3s linear;
    }

    body.active main::before {
        opacity: 1;
        display: block;
    }

    body.active header {
        background-color: transparent;
        border: none;
        box-shadow: none;
    }

    body.active header::after {
        display: none;
    }

    body.active .logo-area {
        opacity: 0;
    }

    .inner, #slider .content {
        width: 720px;
        padding: 80px 15px;
    }

    .main-menu {
        display: none;
    }

    .hamburger {
        cursor: pointer;
    }

    nav.active .hamburger {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .hamburger::before, .hamburger::after, .hamburger div {
        position: relative;
        content: "";
        border-top: 3px solid var(--black);
        display: block;
        width: 30px;
        padding-bottom: 7px;
        transition: all 0.5s ease;
        z-index: 4;
    }

    .hamburger::after {
        padding-bottom: 0;
    }

    nav.active .hamburger::before {
        transform: translateY(8px) translateX(-2px) rotate(135deg);
        border-color: var(--white);
    }

    nav.active .hamburger::after {
        transform: translateY(-12px) translateX(3px) rotate(-135deg);
        padding-bottom: 7px;
        border-color: var(--white);
    }

    nav.active .hamburger div {
        transform: scale(0);
    }

    nav .main-menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 300px;
        height: 100%;
        right: 0;
        top: 0;
        z-index: 3;
        padding-top: 25%;
        padding-left: 30px;
        transform: translateX(300px);
        transition: transform 0.3s ease;
        background-color: var(--main-color);
    }

    nav.active .main-menu {
        transform: translateX(0);
    }

    nav.active .nav-item {
        padding: 20px 0;
    }

    nav.active .nav-item a {
        color: var(--white);
        padding: 8px 0;
        font-size: 1rem;
        transition: all 0.3s ease;
    }

    nav.active .nav-item:hover a {
        padding-left: 20px;
    }

    .nav-item a::before {
        content: "";
        width: 2px;
        height: 100%;
        left: 0;
        top: 0;
        transform: none;
        background-color: var(--white);
        opacity: 0;
        transition: opacity 0.3s ease;
        transition-delay: 0.1s;
    }

    .nav-item a::after {
        right: 0;
        transform: none;
    }

    .nav-item a:hover::before,
    .nav-item:hover a::before {
        opacity: 1;
        width: 3px;
    }

    .nav-item a:hover::after {
        width: 0;
    }

    nav.active .sub-menu {
        margin-top: 20px;
        padding-left: 20px;
        position: initial;
    }

    nav.active .sub-menu .nav-item {
        text-align: left;
        padding: 10px 0;
        width: 200px;
    }

    nav.active .sub-menu .nav-item:hover,
    nav.active .sub-menu .nav-item a {
        padding-left: 0;
        font-family: var(--reg);
    }

    nav.active .sub-menu .nav-item:hover a {
        text-shadow: 0.25px 0px 0.1px, -0.25px 0px 0.1px;
    }

    nav.active .sub-menu .nav-item a::before,
    nav.active .sub-menu .nav-item a::after {
        width: 0;
        height: 0;
    }

    header.active .sub-menu,
    header.active .nav-item .sub-menu {
        display: none;
    }

    header.active .nav-item:hover .sub-menu,
    header.active .nav-item .sub-menu:hover {
        display: flex;
    }

    .text-wrap h1 {
        font-size: 3rem;
        line-height: 3.2rem;
        padding-right: 0px;
        letter-spacing: -0.1rem;
    }

    .text-wrap h2 {
        font-size: 1rem;
        padding-right: 20px;
    }

    .img-wrap img {
        max-width: 300px;
        min-height: auto;
        max-height: 380px;
    }

    .img-wrap::after {
        width: 330px;
        height: 330px;
    }

    #cereals h1 {
        margin-bottom: 80px;
        font-size: 2rem;
    }

    #cereals ul li {
        width: 200px;
        height: 200px;
        margin-left: 30px;
    }

    #cereals ul li:nth-child(-n+3) {
        margin-bottom: 30px;
    }

    #cereals ul li img {
        max-width: 500px;
    }

    #cereals .caption {
        transform: translateY(46px);
    }

    #cereals .caption h2 {
        font-size: 1rem;
    }

    #cereals ul li .more-btn {
        margin-top: 13px;
        font-size: 0.8rem;
        padding: 2px 10px 4px;
    }

    #cereals ul li:hover .more-btn {
        margin-top: 10px;
    }

    #betterdays ul {
        flex-direction: column;
    }

    #betterdays ul li+li {
        margin-left: 0;
        margin-top: 40px;
    }

    #betterdays ul li div:last-child {
        width: 65%;
        justify-content: space-around;
    }

    #recipes ul li+li {
        margin-left: 30px;
    }

    #recipes ul li>a>div {
        padding: 20px;
        padding-right: 16px;
    }

    #recipes h2 {
        font-size: 0.95rem;
    }

}

/* 스마트폰 가로 */
@media screen and (max-width:767.98px) {
    .inner {
        width: auto;
    }

    header .inner {
        padding: 0 15px;
        width: 100%;
    }

    footer .inner {
        padding: 80px 15px;
    }

    #slider .content {
        padding: 0 15px;
    }

    .text-wrap h1 {
        font-size: 6.8vw;
        line-height: 7vh;
    }

    .img-wrap img {
        width: 30vw;
        height: auto;
    }

    .swiper-slide:nth-child(3) img {
        width: 35vw;
    }

    .img-wrap::after {
        width: 280px;
        height: 280px;
    }

    #cereals ul {
        padding: 0 10px;
        justify-content: space-evenly;
    }

    #cereals ul li {
        margin-left: 0;
    }

    #cereals ul li:nth-child(even) {
        margin-bottom: 40px;
    }

    #cereals .caption {
        padding-left: 30px;
    }

    #recipes .inner {
        justify-content: center;
    }

    #recipes ul {
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    #recipes ul li+li {
        margin-left: 0;
        margin-top: 30px;
    }

    #recipes ul li>a>div {
        padding: 25px 30px;
    }

    #recipes h2 {
        font-size: 1.2rem;
    }

    #recipes .title {
        margin-bottom: 60px;
        transition: all 0.3 ease;
    }

    #recipes .more {
        padding-left: 40px;
        align-self: start;
    }

    footer .inner {
        flex-direction: column-reverse;
    }

    footer .inner div+div {
        margin-bottom: 30px;
    }

    .company p {
        white-space: initial;
    }

    .copyright {
        width: auto;
    }

}

/* 스마트폰 세로 */
@media screen and (max-width:575.98px) {

    .logo-area img {
        width: 80%;
    }

    #slider .content {
        flex-direction: column-reverse;
        padding-bottom: 40px;
    }

    .text-wrap {
        width: 80%;
    }

    .img-wrap {
        height: -webkit-fill-available;
    }

    .swiper-slide:nth-child(3) img {
        width: 50vw;
        max-width: initial;
    }

    .img-wrap img {
        width: 42vw;
        max-width: 210px;
    }

    .swiper-slide-active .img-wrap::after {
        width: 55vw;
        height: 55vw;
    }

    .text-wrap h1 {
        font-size: 2.5rem;
        line-height: 2.7rem;
    }

    .new-prod {
        padding-left: 2px;
    }

    #cereals h1 {
        font-size: 1.5rem;
        word-break: keep-all;
        text-align: center;
        margin-bottom: 40px;
    }

    #cereals ul {
        padding: 0;
    }

    #cereals ul li {
        width: 170px;
        height: 170px;
    }

    #cereals ul li img {
        max-width: 400px;
    }

    #cereals .caption {
        transform: translateY(42px);
    }

    #betterdays .title {
        padding: 0 10px;
        text-align: center;
        margin-bottom: 40px;
    }

    #betterdays .title h1 {
        font-size: 3rem;
        line-height: 3rem;
    }

    #betterdays .title .more {
        align-self: center;
    }

    #betterdays ul li {
        overflow: unset;
        flex-direction: row-reverse;
        align-items: center;
        padding: 30px;
    }

    #betterdays ul li div:first-child {
        display: none;
    }

    #betterdays ul li div:first-child img {
        display: none;
    }

    #betterdays ul li div:last-child {
        width: 100%;
        padding: 0;
    }

    #betterdays ul li p {
        padding: 20px 0;
    }

    #recipes .inner {
        padding: 20px 15px 80px;
    }

    #recipes .title {
        width: 200px;
    }

    #recipes h2 {
        font-size: 1rem;
    }

}